div#root {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  div#app {
    width: 50%;
    padding: 2rem;
    align-items: center;
    text-align: center;
  }
}
